@use "./variables";


.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1260px;
  }

  button {
    color: variables.$primary;
    background-color: transparent;
    padding: 18px 36px;
    border: 2px solid variables.$primary;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: variables.$primary;
      color: variables.$solid-white;
    }
    &:focus {
      background-color: variables.$primary;
      color: variables.$solid-white;
    }
    &.secondary {
      background-color: transparent;
      border-color: variables.$solid-white;
      color: variables.$solid-white;
      padding: 8px 12px;
      &:hover {
        background-color: variables.$solid-white;
        color:variables.$primary;
      }
      &:focus {
        background-color: variables.$solid-white;
        color:variables.$primary;
      }
    }
    &.solid {
      color: variables.$solid-white;
      background-color: variables.$primary;
      &:hover {
        color: variables.$primary;
        background-color: variables.$solid-white;
      }
    }
    /* style the button in the main nav menu to look just like an icon */
    &.menu-icon {
      display: inherit;
      padding: 0;
      border: none;
      &:hover {
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }
    }
  }
  
  a {
      &.button {
          color: variables.$primary;
          background-color: transparent;
          padding: 18px 36px;
          border: 2px solid variables.$primary;
          font-size: 0.8rem;
          font-weight: bold;
          line-height: 1.2rem;
          text-align: center;
          transition: 0.3s;
          &:hover {
              background-color: variables.$primary;
              color: variables.$solid-white;
          }
          &:focus {
              background-color: variables.$primary;
              color: variables.$solid-white;
          }
      }
  }

  img {
      max-width: 100%;
      display: block;
  }