@use "./variables";

//Import our fonts for use
//Jakarta Sans Regular
@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff'),
	url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Regular.ttf'),
	url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Regular.woff2');  
    font-weight: normal;
}

//import Jakarta Sans Bold

@font-face {
    font-family: "Jakarta Sans";
    src: url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff'),
	url('../fonts/PlusJakarta_Sans-2.5/webfonts/PlusJakartaSans-Bold.woff2'),
	url('../fonts/PlusJakarta_Sans-2.5/static/PlusJakartaSans-Bold.ttf');
    font-weight: bold;
}

//importing our heading font - Young Serif

@font-face {
    font-family: 
}

